<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parolni tiklash uchun link</title>
    <style>
        .body{
            background-color: antiquewhite;
            width:100vw;
            height:100vh;
        }
        .container{
            width:80vw!important;
            z-index:10;
            padding:0 10vw!important;
            height:100vh!important;
            background-color: #fff;
        }
    </style>
</head>
<body>
    <div class="container">
        <p>Ushbu xabar Yangiliklar saytida parolni tiklash uchun yuborildi!<br>
        Parolni tiklash uchun uchbu linkga kiring:</p>
        {{protocol}}://{{domain}}{% url 'password_reset_confirm' uidb64=uid token=token %}

        Sizning usernameingiz: {{user.get_username}}
    </div>
</body>
</html>