{% extends 'news/base.html' %}

{% load static %}

{% block title %}Parolni tiklash{% endblock title %}
{% block content %}
<div class="row">
    <div class="col offset-3 " style="margin:50px;">
        <h3>Parolni tiklash uchun quyidagi formani to'ldiring!</h3>
        {% if validlink %}
          <p>iltimos parolni ikki marotaba kiriting!</p>
            <form method="post" >{% csrf_token %}
                {{form.as_p}}
                <button class="btn btn-warning" type="submit">
                    Parol almashtirish
                </button>
            </form>
        {% else %}
         <p>Siz noto'g'ri linkdan foydalandingiz! u avvaldan foydalanilgan bo'lishi mumkin yoki ishlatish vaqti o'tib ketgan bo'lishi mumkin!</p>
        {% endif %}
        </div>
</div>    
{% endblock content %}