{% extends 'news/base.html' %}

{% load static %}

{% block title %}Admin sahifasi{% endblock title %}

{% block content %}

<h1>Admin sahifasi</h1>

<h4>Barcha adminlar</h4>
<table class="table table-bordered table-responsive table-striped">
    <tr>
        <th>Username</th>
        <th>Ismi</th>
        <th>Familiyasi</th>
        <th>Email</th>
    </tr>
    {% for user in admin_users %}
    <tr>
        <td>{{user.username}}</td>
        <td>{{user.first_name}}</td>
        <td>{{user.last_name}}</td>
        <td>{{user.email}}</td>
    </tr>
    {% endfor  %}
</table>
<h4>
    <a  class="text-primary"href="{% url 'news_create' %}">Yangilik qo'shish</a>  
</h4>
{% endblock content %}