{% extends 'news/base.html' %}
{% load static %}
{% load hitcount_tags %}

{% block title %} Mahalliy yangiliklar {% endblock title %}
{% block content %}

<!--Top section-->
<section id="sliderSection">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
         <div class="slick_slider">
         {% for new in mahalliy_yangiliklar %}
          <div class="single_iteam" style="z-index:100;"> <a href="{{new.get_absolute_url}}"> <img src="{{new.image.url}}" alt=""></a>
            <div class="slider_article">
              <h2><a class="slider_tittle" href="{{new.get_absolute_url}}">{{ new.title | truncatewords:5 }}...</a></h2>
              <p>{{new.title}}</p>
            </div>
          </div>
         {% endfor %}
        </div> 
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="latest_post">
          <h2><span>Mahalliy yangiliklar</span></h2>
          <div class="latest_post_container">
            <div id="prev-button"><i class="fa fa-chevron-up"></i></div>
            <ul class="latest_postnav">
             {% for new in mahalliy_yangiliklar %}
                <li> 
                  <div class="media"> <a href="{{new.get_absolute_url}}" class="media-left"> <img alt="" src="{{new.image.url}}"> </a>
                     <div class="media-body"> <a href="{{new.get_absolute_url}}" class="catg_title">{{new.title}}<p class="text-primary" style="font-weight: 300;font-size: 0.9rem;font-family:sans-serif;">{{new.category}}<i class="fa-regular fa-eye " style="margin-left:1rem;"></i> {% get_hit_count for new %}</p></a> </div>
                  </div> 
                </li>
              
             {% endfor %}
            </ul>
            <div id="next-button"><i class="fa  fa-chevron-down"></i></div>
          </div>
        </div>
      </div>
    </div>
</section>
{% endblock content %}